@model  IEnumerable<WebApplication1.Models.Aktor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Aktor</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var aktor in Model)
        {
        <dt>
            @aktor.Imie
        </dt>

        <dt>
            @aktor.Nazwisko
        </dt>
        }
    </dl>
</div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
